<div class="topHeader" style="margin-top:0.75vw;"></div>

<div style="display:flex; justify-content:center; margin-bottom: 3vw;">
  <img src="/assets/spriteHeader.png" style="width:40vw; height:8vw;">
  <div class="instruction"
       style="color:  white; text-shadow:0 3px 0 #3B3B3B; font-family: 'KM_font', arial;  position:absolute;"
      [ngStyle]="{'font-size': computeFontSize(), 'top': computeTop()}"
  >
    {{instructions}}
  </div>
</div>

<div style="display:flex;">
  <div style="display:flex; justify-content: center; flex-direction: column; width:50%;">

    <div style="display:flex; justify-content:center;" *ngIf="displayInputButtons(); else leftPlayerNameLabel">
      <input type="text" [(ngModel)]="leftPlayerName" style="font-size:2vw;"/>
      <img (mouseenter)="updateValidNameButtonImage(true)" (mouseleave)="updateValidNameButtonImage(false)"
           (click)="updateUsername()"
           [src]="validNameButtonSrc" style="cursor: pointer; width:3vw; height:3vw; margin-left:-0.2vw;">
      <img src="/assets/ok2.png"
           style="cursor: pointer; width:1.75vw; height:1.75vw; margin-left:-2.30vw; margin-top:0.65vw"
           (click)="updateUsername()"
           (mouseenter)="updateValidNameButtonImage(true)" (mouseleave)="updateValidNameButtonImage(false)">
    </div>

    <ng-template #leftPlayerNameLabel>
      <div class="message"
           style="color:  white; text-shadow:0 0.15vw 0 #3B3B3B; font-family: 'KM_font'; font-size: 50px; text-align: center">
        {{leftPlayerName}}
      </div>
    </ng-template>

    <div class="buttons" style="display:flex; justify-content: center; flex-wrap:wrap;">

      <div class="flip-box" *ngFor="let god of leftPlayerGods; let index = index;"
           [ngStyle]="{
           'animation' : (index % 2 == 0 ? 'floatingReversed ' : 'floating ') + '10s ease-in-out infinite',
           'cursor' : currentStep=== Step.PICK_NEEDED ? 'pointer' : 'default'
           }">
        <div class="flip-box-inner leftPlayerGods">
          <div class="flip-box-front"
               [ngStyle]="{'margin-left' : god.banned ?'2vw' : 0}">
            <img [src]="god.back" [ngClass]="{ 'grey' : god.banned }">
          </div>
          <div class="flip-box-back"
               [ngStyle]="{'margin-left' : god.banned ?'-2vw' : 0}">
            <img (click)="pick(index)" [src]="god.front"
                 [ngClass]="{ 'grey' : god.banned }"
                 [ngStyle]="{ 'filter' : god.selected ? 'drop-shadow(0 0 2rem #dcd914)' : null}"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width:50%;">
    <div class="message"
         style="color:  white; text-shadow:0 0.15vw 0 #3B3B3B; font-family: 'KM_font'; font-size: 50px; text-align: center">
      {{rightPlayerName}}
    </div>

    <div class="buttons" style="display:flex; justify-content: center;">
      <div class="rowGod" id="opponentSelected" style="display:flex; justify-content: center;">

        <div class="flip-box" *ngFor="let god of rightPlayerGods; let index = index;"
             [ngStyle]="{
             'animation' : ((index % 2 == 0 ? 'floatingReversed ' : 'floating ') + '10s ease-in-out infinite'),
             'cursor' : currentStep=== Step.PICKS_DONE ? 'pointer' : 'default'}">
          <div class="flip-box-inner rightPlayerGods">
            <div class="flip-box-front" [ngStyle]="{'margin-left' : god.banned  && currentStep !== Step.BAN_DONE ? '2vw' : 0}">
              <img [src]="god.back" [ngClass]="{ 'grey' : god.selected || god.banned }">
            </div>
            <div class="flip-box-back" [ngStyle]="{'margin-left' : god.banned  && currentStep !== Step.BAN_DONE ? '-2vw' : 0}">
              <img [src]="god.front" (click)="ban(index)"
                   [ngClass]="{ 'grey' : god.selected || god.banned }">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="btnValidCenter" style="margin-top: 1.5vw">
  <div class="" *ngIf="displayInputButtons()">
    <div class="btnValid" (mouseenter)="updateValidButtonImage(true)" (mouseleave)="updateValidButtonImage(false)"
         (click)="submit()" [ngStyle]="{'cursor' : validPickSelection || validBanSelection ? 'pointer' : 'default'}">
      <img id="validationImg" style="width: 8vw; height: 3.5vw; margin-right: 1vw"
           [src]="validButtonSrc">
      <div class="messageBtn"
           style="color:  white; text-shadow:0 0.1vw 0 #3B3B3B, 0 0 0.15vw #000; font-family: 'KM_font'; text-align: center;">
        VALIDER
      </div>
    </div>
  </div>

  <div class="" id="btnValidation" (click)="copyMessage()" [cdkCopyToClipboard]="getLink()">
    <div class="btnValid" (mouseenter)="updateShareButtonImage(true)" (mouseleave)="updateShareButtonImage(false)">
      <img [src]="shareButtonSrc" style="width: 8vw; height: 3.5vw">
      <div class="shareMessageBtn"
           style="color:  white; text-shadow:0 0.1vw 0 #3B3B3B, 0 0 0.15vw #000; font-family: 'KM_font'; text-align: center;">
        PARTAGER
      </div>
    </div>
  </div>
</div>
