<div style="display:flex; justify-content:center; position:relative; margin-top: 7%">
  <div style="display:flex; justify-content:center; cursor:pointer;" class="draftChoice" (click)="createRoom()">
    <img src="/assets/canvasChoice.png" style="width:20vw; height:25vw">
    <div class="frontPage appText" style=" font-size: 5vw; top: 6vw; "> 3 DIEUX</div>
    <div class="frontPage appText" style="font-size: 5vw; top: 12vw;"> 1 BAN</div>
    <div class="frontPage appText" style="font-size: 2vw; bottom: 1.8vw;"> DRAFT</div>
  </div>
</div>
